.bg-container{
    height: auto;
    width: 100%;
    background-color:white;
}
.heading{
    text-align: center;
    font-size: 45px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgb(27, 19, 19);
}
.ul-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}